/1DAW/pruebaArchivos/nbproject/private/
/1DAW/pruebaArchivos/build/
/1DAW/TejeraSantana_Adoney_supuesto_practico_ut7/nbproject/private/
/1DAW/TejeraSantana_Adoney_supuesto_practico_ut7/build/
/1DAW/TejeraSantana_Adoney_supuesto_practico_ut7/dist/
/1DAW/Actividades XV/nbproject/private/
/1DAW/Actividades XV/build/
